#div2>div:nth-child(1){
    position: absolute;
    bottom: 500px;
    width: 200px;
    height: 20px;
    background-color: tomato;
}
#div2>div:nth-child(2){
    position: absolute;
    bottom: 480px;
    right: 500px;
    width: 100px;
    height: 30px;
    background-color: cyan;
}

form{
    position: absolute;
    top: 50px;
}

p{
    position: absolute;
    top: 75px;
    left: 270px;
    width: 550px;
}